body {
	font-family: 'Nunito', sans-serif;
}

.main-container {
	margin: auto;
	width: 100%;
	height: 100%;
}

.result_photo {
	width: 200px;
	height: 150px;
}

.logo {
	background: url('design/big-logo.png');
	background-size: cover;
	border-radius: 5px;
	width: 50%;
	height: 180px;
	margin: auto;
}

.header2 {
	background: url('design/cheerz.jpeg');
	background-size: cover;
	border-radius: 5px;
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
}

.content {
	width: 80%;
	margin: auto;
}

.welcome, .explanation, .how_to {
	margin: auto;
	margin-bottom: 20px;
	background: #e6f5f7bf;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
}

.steps {
	display: flex;
	flex-direction: row;
}

.step1, .step2, .step3 {
	width: 200px;
	margin: auto;
}

.picto {
	width: 40px;
	height: 45px;
}

button {
	background: #facec2;
	width: 150px;
	height: 50px;
	border-radius: 10px;
	font-size: 16px;
}

a, a:visited {
	color: #296065;
	text-decoration: none;
}